.Demos\.SysIncremental\.PCF\.AddressLookupMaterialUI .App {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.Demos\.SysIncremental\.PCF\.AddressLookupMaterialUI .MuiAutocomplete-paper li {
    font: 15px/1.5 Helvetica, sans-serif;
    padding-left: 20px;
    color:black;
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    font-family: "SegoeUI", "Segoe UI";
    margin-top: 8px;
    background: white;
  }
  
  .Demos\.SysIncremental\.PCF\.AddressLookupMaterialUI .MuiAutocomplete-paper li:hover{
    border-top: 0.2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.2px;
    border-style: groove;
  }

  .Demos\.SysIncremental\.PCF\.AddressLookupMaterialUI .control-container-override{
    border-style: none;
  }